data/
playground.ipynb

# ------------------------------------- #

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Directories from IDE
.idea

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# ipython/jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
